{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<body>
    <!--TODO reformat base and map index html-->
    <!--TODO set up proper styling and presenation of map-->
    {% block content %}
        <h1>PyreFinder Map</h1>
        <div id='map' style='width: 400px; height: 300px;'></div>
        <button type="button" class="primary-btn" onClick="history.go(0)">Refresh</button>
            <script>
                mapboxgl.accessToken = '{{ mapbox_access_token }}'
                var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11'
                });

                {% for fighter in fighters %}
                    var marker = new mapboxgl.Marker()
                        .setLngLat([{{ fighter.latitude }}, {{ fighter.longitude }}])
                        .addTo(map);
                {% endfor %}

                setInterval(function(){ history.go(0) }, 1000*60*5);

            </script>
    {% endblock %}
</body>